<h2 id="title">Yielded Portals</h2>

{{outlet}}

{{#test-yields as |portals|}}
  Body

  {{#portals.header tagName=""}}Header{{/portals.header}}
  {{#portals.footer tagName=""}}Footer{{/portals.footer}}
{{/test-yields}}

<hr/>

{{#test-yields as |portals|}}
  {{#portals.header}}Header2{{/portals.header}}

  Body2

  {{#portals.footer}}Footer2{{/portals.footer}}

  {{#test-yields class="internal" as |portals|}}
    {{#portals.header}}Header2 Internal{{/portals.header}}

    Body2 Internal

    {{#portals.footer}}Footer2 Internal{{/portals.footer}}
  {{/test-yields}}
{{/test-yields}}
